.speech {
   font-family:'Times New Roman', Times, serif;
   font-size: 15px;
   color:black;

}
.song {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color:black;
 
 }
 .direction:hover {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color:black;
    background-color: lightgray;
 
 }
 .name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
 
 }
 .KO {
    color:brown;

 }
 .PISH {
    color:brown;
 }
 .NANK {
    color:brown;
 }
 .YUM {
    color:brown;
 }
 .PEEP {
    color:brown;
 }
 .PITTI {
    color:brown;
 }
 .POOH {
    color:brown;
 }
 .Yum-Yum {
    color:brown;
 }
 .CHORUS {
    font-family: 'Times New Roman', Times, serif;
 }
